<%- include('../partial/head') %>

  <body>
    <div class="main">
        
      <div class="left">REC</div>
      
      <div class="middle">EP</div>
      <div class="right">TEN
        <a href="/recipes">
            <i class="fa-solid fa-utensils fa-lg" style="color: rgba(255, 255, 255, 1); font-size: 50px;"></i>
        </a>
      </div>
    </div>
  </body>
</html>