<%- include('../partial/head') %>

  <body>
    <div class="main">
        
      <div class="left">REC</div>
      
      <div class="middle">EP</div>
      <div class="right">TEN
        <a href="/recipes">
        </a>
        <form action="/recipes" method="post">
          <input type="password" name="password" placeholder="Enter password">
          <button type="submit" style="background: none; border: none; cursor: pointer;">
            <i class="fa-solid fa-utensils fa-lg" style="color: rgb(46, 45, 45); font-size: 50px;"></i>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>