<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/icons/nele_ugly_ass.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styleListPage.css">
  <script src="/popUp.js"></script>
  <script src="/functions.js"></script>
  <title>
    Recipe List
  </title>
</head>

<body>
  <div class="topBar">
    <div class="zoekBalk"> 
      <%- include("../partial/searchBar.ejs") %>
    </div>
    <div class="filter">
      <select id="dropdown" onchange="filterAndLoad(event)">
        <option value="alle">Alle</option>
        <option value="vegan">Vegan</option>
        <option value="hoofdgerecht">Hoofdgerechten</option>
        <option value="voorgerecht">Voorgerechten</option>
        <option value="desert">Deserts</option>
        <option value="...">...</option>
      </select>
    </div>
  </div>
  <div class="main">
    <div class="gridContainer" id="gridContainer">
      <%- include("../partial/loadTiles.ejs") %>
      <div class="addTile" onclick="window.location.href = '/recipes/add'">
        <p>+</p>
      </div>
    </div>
  </div>
  <!-- Pop-ups! -->
  <%- include("../partial/editPopUp.ejs") %> 
  <%- include("../partial/deletePopUp.ejs") %>
</body>
</html>