<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe List</title>
  <link rel="stylesheet" href="/styles/styleListPage.css">
</head>

<body>
<div class="topBar">
  <div class="zoekBalk"> 
    <%- include("../partial/searchBar.ejs") %>
  </div>
  <div class="filter"> FILTERS</div>
  <div class="NOGIETS">IDK</div>
</div>
<div class="main">
  <% recipes.forEach(recipe=> { %>
    <div class="receptTile" onclick="window.location.href = '/recipes/<%= recipe.Recept.Naam %>'">
      <div class="receptImg">
        <img src="<%=recipe.Recept.Foto %>" id="foto">
      </div>
      <div class="receptName">
        <%= recipe.Recept.Naam %>
      </div>
    </div>
  <% }); %>
  <div class="addTile" >
    +
  </div>
</div>
</body>
</html>
