/* Kleur vars */
:root {
    --primaire_kleur: rgb(255, 255, 255, 1);
    --secundaire_kleur: rgb(236, 236, 236);
    --accent_kleur_1: rgb(66, 214, 101);
    --accent_kleur_2: rgb(220, 216, 216);
    --accent_kleur_3: rgba(0, 0, 0, 0);
    --accent_kleur_4: rgb(194, 221, 190);
    --accent_kleur_5: rgb(204, 233, 199);
    --tekst_kleur_1: rgb(255, 255, 255);
    --tekst_kleur_2: rgb(90, 90, 90);
    --border_radius: 1vh;
}

/* Algemene styles */
* {
    box-sizing: border-box;
}
.genericBox {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    background-color: var(--accent_kleur_3);
    border-radius: var(--border_radius);
    border: 0.1vh solid var(--accent_kleur_2);
}
input {
    padding-left: 1vh;
    height: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 95%;
}
input:focus {
    outline: none;
}
body {
    margin: 0px;
    background-image: url("/bg.png");
    background-attachment:fixed;
}

/* Specifieke styles*/
#main {
    text-align: center;
    margin: auto;
    background-color: var(--primaire_kleur);
    width: 85%;
    border-radius: var(--border_radius);
}
#drag_drop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundaire_kleur);
    width: 100%;
    border-style:dashed;
    border-radius:  0 0 var(--border_radius) var(--border_radius);
    border: 2px solid var(--accent_kleur_2);
    height: 43vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#drag_drop img {
    height: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#titleBox {
    width: 100%;
    height: 8vh;
}
#bottom {
    display: flex;
    min-height: 800px;
    width: 100%;
}
#bottomLeft {
    flex: 0.35;
    display: flex;
    flex-direction: column;
    margin-right: 0.5vh;
    height: min-content;
}

#ingredBox {
    width: 100%;
    min-height: 500px;
}
#bottomRight {
    flex: 0.65;
    margin-left: 0.5vh; 
}
#tagsBox { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8vh;
}
#stepBox {
    width: 100%;
    height: fit-content;
}
#icon {
    width: 100%;
}
#iconButton {
    height: 5vh;
    width: 5vh;
    background-color: var(--accent_kleur_2);
    border-radius: var(--border_radius);
    border: none;
    cursor: pointer;
}
.submitBox {
    width: 100%;
    height: 15vh;
}
#submitButton {
    width: 100%;
    height: 100%;
    background-color: var(--accent_kleur_1);
    border-radius: var(--border_radius);
    border: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vh;
    color: var(--tekst_kleur_1);
    text-shadow: 0.1vh 0.1vh 0.1vh rgb(0,0,0);
    cursor: pointer;
}

.step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    height: 5vh;
    background-color: var(--secundaire_kleur);
    border-radius: var(--border_radius);
    border: 0.2vh solid rgb(0,0,0);
}

/* Hide the default radio input */
input[type="checkbox"] {
display: none;
}

/* Style the label when the radio input is checked */
input[type="checkbox"]:checked + #iconButton {
    background-color: var(--accent_kleur_1);
  }

#stepButton {
    width: 5vh;
    height: 5vh;
    color: var(--accent_kleur_1);
    border-radius: var(--border_radius);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vh;
    cursor: pointer;
}

#persBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
}
#minusButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    background-color: var(--accent_kleur_1);
    border-radius: var(--border_radius) 0px 0px var(--border_radius);
    border: none;
    color: var(--tekst_kleur_1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4vh;
    cursor: pointer;
}
#plusButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    background-color: var(--accent_kleur_1);
    border-radius: 0px var(--border_radius) var(--border_radius) 0px;
    border: none;
    color: var(--tekst_kleur_1);
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
    cursor: pointer;
}

.ingredient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    height: 5vh;
    background-color: var(--secundaire_kleur);
    border-radius: var(--border_radius);
    border: 0.2vh solid rgb(0,0,0);
}
#separator {
    height: 100%;
    width: 0.2vh;
    background-color: rgb(0,0,0);
}