/* Kleur vars */
:root {
    --primaire_kleur: rgb(255, 255, 255, 1);
    --secundaire_kleur: rgb(236, 236, 236);
    --accent_kleur_1: rgb(66, 214, 101);
    --accent_kleur_2: rgb(220, 216, 216);
    --accent_kleur_3: rgba(0, 0, 0, 0);
    --tekst_kleur_1: rgb(255, 255, 255);
    --tekst_kleur_2: rgb(90, 90, 90);
  }
body {
    margin: 0px;
    background-image: url("/bg.png");
    
}
.main {
    text-align: center;
    margin: auto;
    width: 80%;
}
#drag_drop {
    background-color: var(--secundaire_kleur);
    width: 100%;
    border-style:dashed;
    border-radius: 15px;
    border: 2px solid var(--accent_kleur_2);
    height: 43vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#drag_drop img {
    height: 20%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.titleBox {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blueviolet;
    width: 100%;
    height: 100px;
}
.bottom {
    background-color: chartreuse;
    display: flex;
    min-height: 800px;
    width: 100%;
}
.bottomLeft {
    background-color: cadetblue;
    flex: 0.3;
    display: flex;
    flex-direction: column;
}
.persBox {
    background-color: yellow;
    width: 100%;
    height: 100px;
}
.ingredBox {
    background-color: violet;
    width: 100%;
    min-height: 500px;
}
.bottomRight {
    background-color: brown;
    flex: 0.7;
}
.tagsBox {
    background-color: coral;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}
.stepBox {
    background-color: darkolivegreen;
    width: 100%;
    height: 500px;
}
#icon {
    height: 45px;
    width: 45px;
}
.submitBox {
    background-color: deeppink;
    width: 100%;
    height: 100px;
}

.step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: var(--secundaire_kleur);
}