</html>
<div class="container">
  <footer>
    <div class="footerClass">
      <div class="footerItem">&copy Ullema</div>
      <div class="footerItem">Knopke 2</div>
      <div class="footerItem">Knopke 3</div>
    </div>
  </footer>
</div>