<script>
    function insertStep() {
        console.log('insertStep');
        const element = document.getElementById('stepBox');
        element.innerHTML += `
        <div class="step">
            <input type="text" name="Step" placeholder="Typ hier een nieuwe stap"></input>
        </div>
        `;
    }
</script>
