<script>
    function insertStep() {
        console.log('insertStep');
        const element = document.getElementById('stepBox');
        element.innerHTML += `
        <div class="step">
            <textarea name="Stappen" id="" cols="30" rows="10"></textarea>
        </div>
        `;
    }
</script>