<div id="persBox">
    <input type="hidden" name="personen" id="personId" placeholder="Naam" >
    <button type="button" class="personButton" onclick="changePerson('1')"><img src="/icons/person_blank.png" id="0" class="personButtonImg"></button>
    <button type="button" class="personButton" onclick="changePerson('2')"><img src="/icons/person_blank.png" id="1" class="personButtonImg"></button>
    <button type="button" class="personButton" onclick="changePerson('3')"><img src="/icons/person_blank.png" id="2" class="personButtonImg"></button>
    <button type="button" class="personButton" onclick="changePerson('4')"><img src="/icons/person_blank.png" id="3" class="personButtonImg"></button>
</div>
<script>
    function changePerson(id) {
        const person = document.getElementById(id);
        const imgs = document.querySelectorAll('.personButtonImg');
        const hiddenInput = document.getElementById('personId'); // Get the hidden input element
        hiddenInput.value = id; // Update the value of the hidden input
        console.log(person);
        console.log(imgs);
        for (let i = 0; i < parseInt(id); i++) {
            imgs[i].src = '/icons/person_filled.png';
        };
        for (let i = parseInt(id); i < imgs.length; i++) {
            imgs[i].src = '/icons/person_blank.png';
        };
    }
</script>
<style>
    #persBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--accent_kleur_3);
        border-radius: var(--border_radius);
        border: 0.1vh solid var(--accent_kleur_2);
    }

    .personButton {
        width: 5vh;
        height: 5vh;
        background-color: rgba(0,0,0,0);
        border: none;
    }

    .personButton img {
        width: 100%;
    }
</style>